@page
@model MonthlyModel
@{
}

<div class="text-center">
    <h1 class="display-4 mb-5">Monthly Bills</h1>

    <h2 class="display-6">Groceries</h2>
    <table class="table mb-5">
        <thead>
            <tr>
                <th>Payee</th>
                <th>Location</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Split</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model.DynamicExpenses) {
                <tr>
                    <td>@expense.Payee.Name</td>
                    <td>@expense.Location.Name</td>
                    <td>@expense.Date.ToShortDateString()</td>
                    <td>@expense.Amount.ToString("C")</td>
                    <td>@((expense.Amount / 2).ToString("C"))</td>
                </tr>
            }
        </tbody>
    </table>

    <h2 class="display-6">Rent</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Bill</th>
                <th>Amount</th>
                <th>Split</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model.StaticExpenses) {
                <tr>
                    <td>@expense.Name</td>
                    <td>@expense.Amount.ToString("C")</td>
                    <td>@((expense.Amount / 2).ToString("C"))</td>
                </tr>
            }
        </tbody>
    </table>

    
</div>